@font-face {
  font-family: "iconfont"; /* Project id 2594789 */
  src: url('//at.alicdn.com/t/font_2594789_b8tpbi3b8yk.woff2?t=1627802645539') format('woff2'),
       url('//at.alicdn.com/t/font_2594789_b8tpbi3b8yk.woff?t=1627802645539') format('woff'),
       url('//at.alicdn.com/t/font_2594789_b8tpbi3b8yk.ttf?t=1627802645539') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fanhuidingbu:before {
  content: "\e62b";
}

.icon-xiangce:before {
  content: "\e615";
}

.icon-xiangce1:before {
  content: "\e65b";
}

.icon-wenjianleixing-biaozhuntu-jishiben:before {
  content: "\e6a4";
}

.icon-wenjianleixing-biaozhuntu-gongzuobiao:before {
  content: "\e6a5";
}

.icon-wenjianleixing-biaozhuntu-huandengpian:before {
  content: "\e6a6";
}

.icon-wenjianleixing-biaozhuntu-shipinwenjian:before {
  content: "\e6a7";
}

.icon-wenjianleixing-biaozhuntu-wenjianjia:before {
  content: "\e6a8";
}

.icon-wenjianleixing-biaozhuntu-tupianwenjian:before {
  content: "\e6a9";
}

.icon-wenjianleixing-biaozhuntu-weizhiwenjian:before {
  content: "\e6aa";
}

.icon-wenjianleixing-biaozhuntu-yasuowenjian:before {
  content: "\e6ab";
}

.icon-wenjianleixing-biaozhuntu-lianjie:before {
  content: "\e6ad";
}

.icon-wenjianleixing-biaozhuntu-PDFwendang:before {
  content: "\e6ae";
}

.icon-wenjianleixing-biaozhuntu-Wordwendang:before {
  content: "\e6af";
}

.icon-wenjianleixing-biaozhuntu-shengyinwenjian:before {
  content: "\e6b0";
}

.icon-wenjianleixing-suolvetu-huandengpian:before {
  content: "\e6b1";
}

.icon-wenjianleixing-suolvetu-jishiben:before {
  content: "\e6b2";
}

.icon-wenjianleixing-suolvetu-gongzuobiao:before {
  content: "\e6b3";
}

.icon-wenjianleixing-suolvetu-shipinwenjian:before {
  content: "\e6b4";
}

.icon-wenjianleixing-suolvetu-tupianwenjian:before {
  content: "\e6b5";
}

.icon-wenjianleixing-suolvetu-weizhiwenjian:before {
  content: "\e6b6";
}

.icon-wenjianleixing-suolvetu-wenjianjia:before {
  content: "\e6b7";
}

.icon-wenjianleixing-suolvetu-yasuowenjian:before {
  content: "\e6b8";
}

.icon-wenjianleixing-suolvetu-Word:before {
  content: "\e6b9";
}

.icon-wenjianleixing-suolvetu-PDFwendang:before {
  content: "\e6ba";
}

.icon-wenjianleixing-suolvetu-shengyinwenjian:before {
  content: "\e6bb";
}

.icon-wenjianleixing-suolvetu-lianjie:before {
  content: "\e6bc";
}

.icon-fangda:before {
  content: "\e6c2";
}

.icon-suoxiao:before {
  content: "\e6c7";
}

.icon-youxuan:before {
  content: "\e6d3";
}

.icon-zhiding:before {
  content: "\e6d9";
}

.icon-guanbi:before {
  content: "\e6e1";
}

.icon-xuanzhuan:before {
  content: "\e63e";
}

.icon-ico_baocun_xuanzhong:before {
  content: "\e608";
}

.icon-ico_bianji_xuanzhong:before {
  content: "\e60d";
}

.icon-ico_dengru:before {
  content: "\e60e";
}

.icon-ico_dengchu:before {
  content: "\e60f";
}

.icon-ico_qiyong_xuanzhong:before {
  content: "\e610";
}

.icon-ico_zanting_xuanzhong:before {
  content: "\e613";
}

.icon-ico_qingchu_xuanzhong:before {
  content: "\e614";
}

.icon-ico_huifu_xuanzhong:before {
  content: "\e61b";
}

.icon-ico_shanchu_xuanzhong:before {
  content: "\e61d";
}

.icon-ico_duanxin:before {
  content: "\e622";
}

.icon-ico_shuaxin:before {
  content: "\e624";
}

.icon-quanjuico_lingcunweishebeimoban:before {
  content: "\e626";
}

.icon-ico_beifentuopushuju:before {
  content: "\e62a";
}

.icon-ico_fangda:before {
  content: "\e62d";
}

.icon-ico_suoxiao:before {
  content: "\e62e";
}

.icon-ico_huanyuan:before {
  content: "\e62f";
}

.icon-ico_xiazai_xuanzhong:before {
  content: "\e630";
}

.icon-quanjuico_zidongfaxian:before {
  content: "\e634";
}

.icon-ico_zhuti_baisebeifen:before {
  content: "\e638";
}

.icon-ico_quanping:before {
  content: "\e63d";
}

.icon-sifangge:before {
  content: "\e768";
}

.icon-quxiaoshoucang_huaban1:before {
  content: "\e611";
}

.icon-pause_nor:before {
  content: "\e60a";
}

.icon-play_nor:before {
  content: "\e60b";
}

.icon-gengduo:before {
  content: "\e738";
}

.icon-paixu:before {
  content: "\e7ea";
}

.icon-B:before {
  content: "\e70a";
}

.icon-paixu1:before {
  content: "\e609";
}

.icon-tupian:before {
  content: "\e689";
}

.icon-yinpin:before {
  content: "\e628";
}

.icon-changyongtubiao-fuben-45:before {
  content: "\e60c";
}

.icon-yijianfankui:before {
  content: "\e63c";
}

.icon-xinxi:before {
  content: "\e693";
}

.icon-yidong:before {
  content: "\e600";
}

.icon-zhongmingming:before {
  content: "\e601";
}

.icon-yunshangchuan:before {
  content: "\e6d0";
}

.icon-cloud-download:before {
  content: "\eb49";
}

.icon-shoucang:before {
  content: "\e621";
}

.icon-chuanshuliebiao:before {
  content: "\e612";
}

.icon-RectangleCopy:before {
  content: "\e6ac";
}

.icon-add:before {
  content: "\e664";
}

.icon-arrow-down:before {
  content: "\e665";
}

.icon-ashbin:before {
  content: "\e666";
}

.icon-arrow-right:before {
  content: "\e667";
}

.icon-browse:before {
  content: "\e668";
}

.icon-bottom:before {
  content: "\e669";
}

.icon-back:before {
  content: "\e66a";
}

.icon-camera:before {
  content: "\e66b";
}

.icon-close:before {
  content: "\e66c";
}

.icon-check-item:before {
  content: "\e66d";
}

.icon-comment:before {
  content: "\e66e";
}

.icon-complete:before {
  content: "\e66f";
}

.icon-chart-pie:before {
  content: "\e670";
}

.icon-customer-service:before {
  content: "\e671";
}

.icon-delete:before {
  content: "\e672";
}

.icon-copy:before {
  content: "\e673";
}

.icon-elipsis:before {
  content: "\e674";
}

.icon-edit:before {
  content: "\e675";
}

.icon-favorite:before {
  content: "\e676";
}

.icon-fabulous:before {
  content: "\e677";
}

.icon-hide:before {
  content: "\e678";
}

.icon-home:before {
  content: "\e679";
}

.icon-link:before {
  content: "\e67a";
}

.icon-menu:before {
  content: "\e67b";
}

.icon-mobile-phone:before {
  content: "\e67c";
}

.icon-minus:before {
  content: "\e67d";
}

.icon-refresh:before {
  content: "\e67e";
}

.icon-search:before {
  content: "\e67f";
}

.icon-share:before {
  content: "\e680";
}

.icon-scanning:before {
  content: "\e681";
}

.icon-select:before {
  content: "\e682";
}

.icon-success:before {
  content: "\e683";
}

.icon-setting:before {
  content: "\e684";
}

.icon-time:before {
  content: "\e685";
}

.icon-user:before {
  content: "\e686";
}

.icon-arrow-left-bold:before {
  content: "\e687";
}

.icon-arrow-up-bold:before {
  content: "\e688";
}

.icon-fenxiang:before {
  content: "\e6d1";
}

.icon-wenjian:before {
  content: "\e69f";
}

